.divWrapper {
    display: flex;
    
    
    justify-content: center;
    
    width: 100%;
    background: #2d19b1;
    background: linear-gradient(180deg, #120371 0%, #5f47fd 100%); 

}

.innerDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.screenshotDiv {
    width: 70%;

}



.picturesDiv {
    position: relative;
    width: 50%;
    flex-basis: 50%;
    
    background: #2d19b1;
    background: linear-gradient(180deg, #120371 0%, #5f47fd 100%); 
}

.ssinnerdiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pic1Div {
    position:absolute;
    bottom: 0;
    
    
    
    width: 100%;
    height: 90%;
    overflow-y: hidden;
    z-index: 1;
}

.pic2Div {
    position:absolute;
    padding-left: 30px;
    padding-top: 350px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}

.tabsDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 50%;
    flex-basis: 50%;
    margin-bottom: 30px;

}

.aboutText {
    display: flex;
    justify-content: center;
    font-weight: 400 !important;
    color: white !important;
    text-shadow: -1px -1px #02fefe, 1px 1px #fe02e9;
    
    margin-top: 50px;
}

.aboutTextPara {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    width: 90%;
}

.link {
    color: #fe02e9;
    text-decoration: none;
}

.aboutTextParaTab {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 1rem;
    width: 90%;
}





@media (max-width: 500px) {
    .divWrapper {
        width: 100%;
    }
    .innerDiv {
        display: block;
        width: 100%;
    }

    .picturesDiv {
        width: 100%;
        margin: auto;
    }
    
    .tabsDiv {
        width: 100%;
        margin: auto;
    }

    .pic1Div {
        position:absolute;
        bottom: 0;
        width: 100%;
        height: 90%;
        overflow: hidden;
        z-index: 1;
    }

    .aboutText {

        margin-bottom: 20px;
    }

    .pic2Div {
        position:absolute;
        padding-left: 40px;
        padding-top: 300px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;
    }

}


