.pageWrapperGradient {
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #2d19b1;
    background: linear-gradient(180deg, #120371 0%, #4f35f5 70%, rgba(0, 213, 255, 0.425) 100%); 
    

}
.pageRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
    margin-top: 5%;
}