.footerWrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background-color: #2d19b1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    

}

.footerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.heroTextWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


}


.heroText {
    width: 100%;
    -webkit-text-stroke: 1px white; 
    -webkit-text-fill-color: transparent;
    text-shadow: -3px -3px #02fefe, 3px 3px #fe02e9;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 5%;
    margin-right: 5%;
    
    display: flex;
    justify-content: center;
    
}

@media (max-width: 430px) {
    .heroText {
        font-size: 0.9rem;
        text-shadow: -2px -2px #02fefe, 2px 2px #fe02e9;
        -webkit-text-stroke: transparent; 
    -webkit-text-fill-color: transparent;
    }
}

.footerRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.footerText {
    color: white;
    text-align: center;


}

@media (max-width: 430px)  {
    .footerWrapper {
        width: 100%;
        
    }
    .footer {
        display: block;
        width: 100%;
    }

    .footerLeft {
        width: 100%;
        margin: auto;
    }
    .footerRight {
        width: 100%;
        margin: auto;
    }

}

