html,
body {
    font-family: 'Nunito Sans', sans-serif;
    color: #143109;
    box-sizing: border-box;
    justify-content: center;
    display:block;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
  }



