.divWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.placementDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 96%;
}





@media (max-width: 720px) {
    .placementDiv {
        width: 100%;
        display: flex;

        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }

    .formwidth {
        width: 90%;
    }

    .pickSalonDiv {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: right;
    }
}