.appTable {
    width: 100%;
    padding: 30px;
    
    
    
}

.appTableOwner {
    width: 100%;
    padding: 30px;
    min-height: 50vh;

}

.noApptsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
}

.noApptsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

@media (max-width: 430px) {
    .appTable {
        width: 100%;
        padding: 5px;
    }
}
